---
 const personalImageAlt = "Juan Petit"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan José Petit, aunque mis amigos me llaman Juancho. Comencé mi viaje en la programación hace aproximadamente 10 años, <strong
        >actualmente estoy cursando el último semestre de la carrera Analista Programador.</strong
      > Durante los últimos dos años, he trabajado en una variedad de proyectos utilizando diversos lenguajes de programación..
    </p>

    <p>
      Como desarrollaror, <strong
        >me esfuerzo por mejorar continuamente tanto <em class="italic">la calidad del código como el rendimiento del software que creo.</em> Me caracterizo por ser disciplinado y comprometido, con el talento necesario para llevar mis proyectos al éxito</strong
      >. Mi objetivo es seguir creciendo como profesional y contribuir con soluciones innovadoras que hagan la diferencia.
    </p>
  </div>

  <img width="300" height="300" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


